@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: 1 0 0;
  --foreground: 0.147 0.004 49.25;
  --card: 1 0 0;
  --card-foreground: 0.147 0.004 49.25;
  --popover: 1 0 0;
  --popover-foreground: 0.147 0.004 49.25;
  --primary: 0.216 0.006 56.043;
  --primary-foreground: 0.985 0.001 106.423;
  --secondary: 0.97 0.001 106.424;
  --secondary-foreground: 0.216 0.006 56.043;
  --muted: 0.97 0.001 106.424;
  --muted-foreground: 0.553 0.013 58.071;
  --accent: 0.97 0.001 106.424;
  --accent-foreground: 0.216 0.006 56.043;
  --destructive: 0.577 0.245 27.325;
  --border: 0.923 0.003 48.717;
  --input: 0.923 0.003 48.717;
  --ring: 0.709 0.01 56.259;
}

.dark {
  --background: 0.147 0.004 49.25;
  --foreground: 0.985 0.001 106.423;
  --card: 0.216 0.006 56.043;
  --card-foreground: 0.985 0.001 106.423;
  --popover: 0.216 0.006 56.043;
  --popover-foreground: 0.985 0.001 106.423;
  --primary: 0.923 0.003 48.717;
  --primary-foreground: 0.216 0.006 56.043;
  --secondary: 0.268 0.007 34.298;
  --secondary-foreground: 0.985 0.001 106.423;
  --muted: 0.268 0.007 34.298;
  --muted-foreground: 0.709 0.01 56.259;
  --accent: 0.268 0.007 34.298;
  --accent-foreground: 0.985 0.001 106.423;
  --destructive: 0.704 0.191 22.216;
  --border: 0.232 0.004 49.25;
  --input: 0.275 0.004 49.25;
  --ring: 0.553 0.013 58.071;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
